@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --ff-noto-san:"Noto Sans", sans-serif;
}

body{
    font-family: var(--ff-noto-san);
    /* max-width: 1440.49px;
    margin: 0 auto; */
    
}